.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.scoreboard {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.btn-container {
    height: 300px;
    width: 80%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.choice {
    flex: 1 1 0;
    height: 200px;
    margin: 0px 20px;
}